.fondo{
    background:  #ff9800;
    color:white;
  
  }
  .ancho{
    width: 120px;;
  }
  
  .example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .example-radio-button {
    margin: 5px;
  }
  .verde{
    color: green;
  }
  .ambar{
    color:orange;
  
  }
  .rojo{
    color:red;
  }